APP_TITLE=digiSalad Interview
APP_TITLE_TEMPLATE=digiSalad Interview
APP_DESC=digiSalad single-page interview project built with Nuxt, Tailwind CSS, and GSAP.
APP_DEFAULT_LANG=zh-TW

APP_URL=http://localhost:3000

PORT=3000
APP_BASE_URL=/

WEB_SEARCH=NO
SHOW_CONSOLE_LOG=YES
