APP_TITLE=digiSalad | Digital Experiences That Matter
APP_TITLE_TEMPLATE=%s | digiSalad
APP_DESC=digiSalad creates thoughtful websites, digital products, and interactive experiences for ambitious brands.
APP_DEFAULT_LANG=zh-TW

APP_URL=http://localhost:3000

PORT=3000
APP_BASE_URL=/

WEB_SEARCH=NO
SHOW_CONSOLE_LOG=YES
